# build
__pycache__/
.pytest_cache/
.ruff_cache/
dist/
*.log
.vscode/
/tests/fixtures/libraries/
uv.lock
.venv/
.coverage
/htmlcov
/docs/site

# application/misc
*.db
*.db-journal
*.db.bak
/config.toml