# build
__pycache__/
.pytest_cache/
.ruff_cache/
dist/
*.log
.vscode/
/tests/fixtures/libraries/
docs/database_diagram.png
uv.lock
.venv/
.coverage
/htmlcov

# application/misc
*.db
*.db-journal
*.db.bak
/config.toml