# build
__pycache__/
.pytest_cache/
.ruff_cache/
.cache/
*.log
.venv/
.coverage
/dist
/src/albums/_version.py
/tests/fixtures/libraries/
/htmlcov
/site
/docs/database_diagram.png
/docs/screenshot_help.png*
/build

# application/misc
*.db
*.db-journal
*.db.bak
